:root {
  --support-dark: #5c4643;
  --support-lighter: #b49b98;

  --support-light: #dfc4a4;

  --brand-color: #232929;
  --light-brand: #7f292c;
  --dark-brand: #040;
  --lighter-grey: #dedede;
  --dark-grey: #1f2022;

  --support-blue: #0f398b;
  --support-red: #c63a4f;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--support-dark);
  background-color: var(--support-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav,
section {
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--support-light);
  box-shadow: 2px 2px 5px var(--dark-grey);
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

h2 {
  margin: 0;
  padding: 1rem 0 0;
  font-size: 2rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 1rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1rem;
}

nav ul a {
  color: var(--light-brand);
}

@media screen and (min-width: 640px) {
  .main {
    padding: 1rem;
  }
  nav,
  section {
    padding: 1rem 1.5rem;
  }
}
